.btn-site {
  color: #fff; /* Cor do texto */
  background-color: #a05630; /* Cor de fundo */
  border-color: #a05630; /* Cor da borda */
}

.btn-site:hover,
.btn-site:focus {
  background-color: #8c4b29; /* Cor mais escura no hover */
  border-color: #8c4b29; /* Borda no hover */
  color: #fff;
  transition: all 0.3s ease;
}

/* Botão com contorno */
.btn-site-outline {
  color: #a05630; /* Cor do texto */
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #a05630; /* Borda */
}

.btn-site-outline:hover,
.btn-site-outline:focus {
  background-color: #a05630; /* Fundo no hover */
  color: #fff; /* Texto no hover */
  border-color: #a05630; /* Borda no hover */
  transition: all 0.3s ease;
}

.form-admin {
  width: 100%;
  max-width: 450px;
  margin: 0 2rem;
}

.text-site {
  color: #a05630 !important; /* Cor do texto */
}